<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script defer src="js/bootstrap.bundle.min.js"></script>

</head>
<body style="background-image: url({% static 'img/main3.jpg' %});background-size: 100% 100%;background-attachment: fixed;">
{% include 'header.html' %}


<div class="container mt-2">
<div class="jumbotron text-center" style="background-color:white;">
    <h2 style="color:darkblue;">Skills</h2>
  </div>
  <div class="row">

  <div class="col-sm-4">

  <div class="card" style="width:360px">
      <div class="card-body">
      <h4 class="card-title">Music</h4>
      <ul class="card-text">
        <li>Music Production</li>
        <li>Music Arranging</li>
        <li>Music Programming </li>
        <li>Music Composing</li>
        <li>Jingles</li>
        <li>Music for advertisement </li>
        <li>Vocals </li>
        <li>Singing </li>
        <li>BGM</li>
      </ul>


    </div>
    </div>
    </div>
  <div class="col-sm-4">

  <div class="card" style="width:360px">

    <div class="card-body">
      <h4 class="card-title">Audio</h4>
      <ul class="card-text">
        <li>Audio editing </li>
        <li>Audio Mixing</li>
        <li>Audio Master</li>
        <li>Recordist</li>
        <li>Voice over artist</li>
        <li>Narration</li>
        <li>Dubb</li>
          <li style="color:white;">Narration</li>
        <li style="color:white;">Dubb</li>
      </ul>

    </div>
    </div>
    </div>
    <div class="col-sm-4">

  <div class="card" style="width:350px">

    <div class="card-body">
      <h4 class="card-title">Video</h4>
      <ul class="card-text">
        <li>Basic Editing </li>
        <li>Chroma Editing</li>
        <li>Dub </li>
        <li>Voice Over</li>
        <li>Recording </li>
<li style="color:white;">Narration</li>
        <li style="color:white;">Dubb</li><li style="color:white;">Narration</li>
        <li style="color:white;">Dubb</li>
      </ul>

    </div>
    </div>
    </div>

    <br>
    <br>
  </div>

<div class="container-sm border" style="background-color:white;">
   <h4>Software</h4>
    <ul>
        <li>MacOs Daws n Pro Apps comfortable with</li>
<li>Garageband, Logic Pro 10.6, Auria Pro</li>
<li>Lumafusion 2.0, iMovies, FCP</li>
<li>Currently Using iPad Pro 2020, Mac Mini M1 2020</li>


    </ul>

</div>
</div>
<hr>
{% include 'footer.html' %}
</body>
</html>

